@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Вы успешно зарегистрировались";
}

<h1>@ViewData["Title"]</h1>
<p>Можете войти в приложение используя свою эл.почту и пароль</p>
<a href="Login" class="btn btn-primary">Перейти на страницу входа</a>