@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Нажмите, и будем считать что эл.почта подтверждена 
        </p>
        <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Подтвердить</a>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
