@page "/"
<PageTitle>Index</PageTitle>

    
    <header class="masthead" style="background-color:dimgrey">
        <div class="container">
            <div class="intro-text">
                <h1 class="text-uppercase">Добро пожаловать в студию звукозаписи!</h1>
                <NavLink class="btn btn-primary btn-xl text-uppercase mx-1" role="button" href="services">УСЛУГИ</NavLink>
                <NavLink class="btn btn-primary btn-xl text-uppercase mx-1" role="button" href="schedule">расписание</NavLink>
            </div>
        </div>
    </header>
    
    
   
    
    
@code{

}
    
