@page "/location"
<div class="container">
    <h2 class="text-center mt-2">Адрес</h2>
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <RadzenCard>
                <RadzenStack Gap="1">
                    <RadzenText TextStyle="TextStyle.Subtitle1">Студия звукозаписи</RadzenText>
                    <div>город Магнитогорск,</div>
                    <div>проспект Ленина, 97,</div>
                    <div>Дворец спорта имени И.Х.Ромазана</div>
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>
</div>
@code {

}
