@page "/services"
<div class="container">
    <h2 class="text-center mt-2">Услуги</h2>
    <hr />
    <div class="row">
        <div class="col">
            <RadzenCard>
                <RadzenStack>
                    <RadzenText TextStyle="TextStyle.DisplayH6">Запись</RadzenText>
                    <hr />
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard>
                <RadzenStack>
                    <RadzenText TextStyle="TextStyle.DisplayH6">Репетиции</RadzenText>
                    <hr />
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard>
                <RadzenStack>
                    <RadzenText TextStyle="TextStyle.DisplayH6">Аренда Оборудования</RadzenText>
                    <hr />
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>
</div>
@code {

}
